.Card {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    // width: 150px;
    // height: 300px;
    width: 350px;
    height: 200px;
    margin: 0.5rem;
    background-color: rgba(245, 235, 224, 0.8);
    backdrop-filter: blur(20px);
    border-radius: 10px;

    &:hover {
        background-color: #E3D5CA;
        cursor: pointer;
    }

    &__Content {
        display: flex;
        flex-direction: column;
        align-items:baseline;
        overflow: auto;

    }

    &__Image {
        display: flex;
        align-items: flex-end;
        // width: 150px;
        // height: 130px;
        width: 80px;
        height: 200px;
        padding: 1rem;
        background-color: rgba(245, 235, 224, 1);
        object-fit: scale-down;
    }

    &__Title {
        font-size: 1rem;
        padding: 0rem 1rem;
        // text-align: center;
        font-family: 'Playfair Display', serif;
        color: #444444;
    }

    &__Author {
        font-size: 0.8rem;
        padding: 0rem 1rem;
        margin-top: 0.5rem;
        // text-align: center;
        color: #444444;
    }

    &__Description {
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
        // text-align: center;
        color: #444444;
    }
}