* {
    margin: 0;
    padding: 0;
}

.BookModal {
    top: 1rem;
    min-height: 80vh;
    // position: absolute;
    background-color: rgba(245, 235, 224, 0.9);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    max-width: 1000px;
    width: 95vw;


    &__Clear {
        right: 1rem;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 50px;
        height: 50px;
        background-color: #bcb0a7;
        border-radius:100%;
        &:hover {
            background-color: #68605b;
        }
    }

    &__Icons {
        font-size: 3rem;
        padding: 1rem;
        position: absolute;
        height: 1.5rem;
        width: 1.5rem;
        color: #444444;

        &:hover {
            color: #E3D5CA;
            cursor: pointer;
        }
    }

    &__Top {
        display: flex;
        flex-direction: row;

        img {
            width: 200px;
            border: 1px solid #E3D5CA;
            -webkit-box-shadow: 10px 10px 20px 0px rgba(68,68,68,0.2); 
            box-shadow: 10px 10px 20px 0px rgba(68,68,68,0.2);
        }
    }

    &__TopContent {
        margin-left: 1rem;
        color: #444444;
    }

    &__Title {
        font-family: 'Playfair Display', serif;
        font-size: 2rem;
        color: #444444;
    }

    &__Subtitle {
        font-family: 'Playfair Display', serif;
        font-size: 1.5rem;
        color: #68605b;
    }

    &__PublisherDescription {
        font-family: 'Playfair Display', serif;
        margin-bottom: 0.5rem;
        color: #444444;
    }

    &__PublisherDescriptionText {
        color: #444444;
        font-size: 1rem;
    }

    &__DescriptionGroups {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__DescriptionGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        background-color: #E3D5CA;
    }

    &__DescriptionKey {
        font-size: 0.8rem;
        letter-spacing: 0.05rem;
        color: #68605b;
    }

    &__DescriptionValue {
        display: flex;
        font-family: 'Playfair Display', serif;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 0.5rem 0;
        color: #444444;
    }

    &__DescriptionInfo {
        font-size: 0.8rem;
        color: #444444;
    }
}

