.Search {
    background-color: rgba(245, 235, 224);
    display: flex;
    border: 1px solid #E3D5CA;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0 1rem;
    backdrop-filter: blur(20px);
    min-width: 80vw;
    max-width: 800px;

    &__Input {
        padding: 1rem;
        border: none;
        outline: none;
        font-size: 1rem;
        background-color: rgba(245, 235, 224);
        backdrop-filter: blur(20px);
        color: #444444;
        width: 100%;
    }

    &__Icons {
        padding: 1rem 0;
        font-size: 1rem;
        color: #444444;
    }

    &__Clear {
        position: absolute;
        right: 0;
        padding: 1rem 1rem;
        font-size: 1rem;
        color: #444444;

        &:hover {
            color: #D6CCC2;
            cursor: pointer;
        }
    }

    &__Result {
        margin: 0.5rem 0;
        color: #D6CCC2;
        text-align: center;
        height: 2rem;
    }

}