.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(68, 68, 68, 0.80);
    backdrop-filter: blur(20px);

}

