@use "./styles/partials/palette";
.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    background-color: palette.$tertiary-colour-80;
    backdrop-filter: blur(20px);
}

a {
    text-decoration: none;
}