.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;

    &__Heading {
        text-align: center;
        font-size: 4rem;
        font-family: 'Playfair Display', serif;
        color: #D6CCC2;
    }

    &__Text {
        text-align: center;
        font-size: 2.5rem;
        font-family: 'Playfair Display', serif;
        color: #D6CCC2;
    }
}